Repository YvesBraendli/BIMDB_PM4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-test, backend-coverage, frontend-lint, semgrep_sast_report, pages

backend-test:
  image: maven:3.8-openjdk-17
  stage: test
  script:
  - mvn $MAVEN_CLI_OPTS clean org.jacoco:jacoco-maven-plugin:prepare-agent test org.jacoco:jacoco-maven-plugin:report -f "backend/bimdb/pom.xml"
  artifacts:
    paths:
    - backend/bimdb/target/site/jacoco/jacoco.xml
  ...

backend-coverage:
  stage: reporting
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.7
  coverage: /(\d*.?\d+)/
  script:
  - python /opt/cover2cover.py backend/bimdb/target/site/jacoco/jacoco.xml backend/bimdb/src/main/java/ > backend/bimdb/target/site/cobertura.xml
  ...

frontend-lint:
  image: timbru31/node-chrome:hydrogen-alpine
  before_script:
  - cd frontend/bimdb/
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  - npm run lint

semgrep_sast_report:
  stage: reporting
  image:
    name: angrymeir/secscanner2junit:latest
    entrypoint:
    - ''
  dependencies:
  - semgrep-sast
  needs:
  - semgrep-sast
  script:
  - ss2ju sast gl-sast-semgrep-report.json gl-sast-semgrep-report.xml
  artifacts:
    reports:
      junit: gl-sast-semgrep-report.xml

pages:
  stage: deploy
  image:
    name: squidfunk/mkdocs-material
    entrypoint:
    - ''
  script:
  - mkdocs build --verbose --config-file mkdocs.yml --site-dir public
  artifacts:
    paths:
    - public
  environment:
    name: Wiki
    url: https://$CI_PROJECT_NAMESPACE.gitlab.io/$CI_PROJECT_NAME/

92 - fixing assertEquals statements. expected value must be the first parameter
  backend/bimdb/src/test/java/com/debugdemons/bimdb/domain/DomainTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

92 - adding put method to update user preferences
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Preferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/UserPreferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PreferencesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/PreferencesController.java
  backend/bimdb/src/main/resources/application-dev.properties
  backend/bimdb/src/main/resources/application.properties
  frontend/bimdb/src/app/generated/contract.ts
Due: backend-test, backend-coverage, frontend-lint, semgrep_sast_report

92 - refactoring based on SonarLint's report
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Preferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/UserPreferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/repository/PreferencesRepository.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PreferencesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/DiscoverController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/MovieController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/PersonController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/TvController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/deserializers/WatchProviderResultDeserializerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/domain/DomainTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/repository/PreferencesRepositoryTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/PersonServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/SearchServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/utils/LoggerProviderTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PersonControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PreferencesControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/SearchControllerTest.java
  backend/bimdb/src/test/resources/application.properties
Due: backend-test, backend-coverage, semgrep_sast_report

92 - adding favorites controller and add/remove logic
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Favorite.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Person.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Preferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/UserPreferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PreferencesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/FavoritesController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/PreferencesController.java
  backend/bimdb/src/main/resources/application-postgres.properties
  backend/bimdb/src/test/java/com/debugdemons/bimdb/repository/PreferencesRepositoryTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PersonControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PreferencesControllerTest.java
  frontend/bimdb/src/app/generated/contract.ts
Due: backend-test, backend-coverage, frontend-lint, semgrep_sast_report

92 - adding Serializable import
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Preferences.java
Due: backend-test, backend-coverage, semgrep_sast_report

92 - changing request mapping from api/user/favorites /add + /remove to just api/favorites
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/FavoritesController.java
Due: backend-test, backend-coverage, semgrep_sast_report

92 - creating FilterCalculator and adding movie genre logic
  backend/bimdb/src/main/java/com/debugdemons/bimdb/interceptors/MovieDbApiInterceptor.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/Filter.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/FilterCalculator.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/DiscoverController.java
Due: backend-test, backend-coverage, semgrep_sast_report

92 - rolling back change that breaks test
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/DiscoverController.java
Due: backend-test, backend-coverage, semgrep_sast_report

Feature: Add Coverage und JUnit Reporting in for SonarQube
  .gitlab-ci.yml
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  .gitlab/pipeline_templates/Security.gitlab-ci.yml
  frontend/bimdb/karma.conf.js
  sonar-project.properties
Due: frontend-lint, semgrep_sast_report

Feature: Favorite- and Share-Action
  frontend/bimdb/src/app/action-bar/action-bar.component.html
  frontend/bimdb/src/app/action-bar/action-bar.component.scss
  frontend/bimdb/src/app/action-bar/action-bar.component.spec.ts
  frontend/bimdb/src/app/action-bar/action-bar.component.ts
  frontend/bimdb/src/app/action-bar/action-bar.service.spec.ts
  frontend/bimdb/src/app/action-bar/action-bar.service.ts
  frontend/bimdb/src/app/core/services/http.service.spec.ts
  frontend/bimdb/src/app/core/services/http.service.ts
  frontend/bimdb/src/app/core/services/window.service.spec.ts
  frontend/bimdb/src/app/core/services/window.service.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/person-detail/person-detail.component.html
  frontend/bimdb/src/app/person-detail/person-detail.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: frontend-lint, semgrep_sast_report

updated the C4-diagrams in structurizr
  docs/assets/img/C4_diagram.dsl
Due: pages

Resolve "Fix Staging: CrashLoop in Backend Component"
  K8s/Chart.yaml
  K8s/templates/bimdb-backend-deployment.yaml
  K8s/values-prod.yaml
  K8s/values-stage.yaml
  K8s/values.yaml
Due: none

enhanced c4-diagrams
  docs/assets/img/C4_diagram.dsl
Due: pages

Resolve "Exclude Test Files from SonarCloud Coverage"
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  sonar-project.properties
Due: none

Enhancement: Adjusted Readme and Main-Wiki Page
  README.md
  docs/Konfiguration & spezifische Install Guides/Backend/.gitkeep
  docs/Konfiguration & spezifische Install Guides/Frontend/.gitkeep
  docs/Konfiguration & spezifische Install Guides/Frontend/config_install_frontend.md
  docs/Konfiguration & spezifische Install Guides/Infrastruktur/.gitkeep
  docs/assets/img/UI/bimdb_movie_detail.png
  docs/index.md
Due: pages

Favicon und Layout
  frontend/bimdb/src/app/action-bar/action-bar.component.html
  frontend/bimdb/src/app/action-bar/action-bar.component.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/person-detail/person-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/favicon.ico
  frontend/bimdb/src/styles.scss
  frontend/bimdb/src/styles/detail-page.scss
Due: frontend-lint, semgrep_sast_report

Resolve "Frontend Build Environment"
  frontend/bimdb/src/app/core/interceptors/error.interceptor.ts
  frontend/bimdb/src/app/core/models/environment.ts
  frontend/bimdb/src/app/core/services/config.service.spec.ts
  frontend/bimdb/src/app/core/services/environment.service.spec.ts
  frontend/bimdb/src/app/core/services/environment.service.ts
  frontend/bimdb/src/app/core/services/http.service.spec.ts
  frontend/bimdb/src/app/core/services/http.service.ts
  frontend/bimdb/src/app/core/services/search.service.spec.ts
  frontend/bimdb/src/app/discover/discover.service.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.service.spec.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.service.spec.ts
  frontend/bimdb/src/assets/environments/environment.json
  frontend/bimdb/src/assets/environments/environment.prod.json
  frontend/bimdb/src/assets/environments/environment.stage.json
  frontend/bimdb/src/environments/environment.prod.ts
  frontend/bimdb/src/environments/environment.ts
  frontend/bimdb/src/main.ts
Due: frontend-lint, semgrep_sast_report

Adding Database and Keycloak information and more details of the API application
  docs/assets/img/C4_Component_DataEnhancement_APIApplication.png
  docs/assets/img/C4_Component_WebApplication.png
  docs/assets/img/C4_Container_BIMDb.png
  docs/assets/img/C4_SystemContext_BIMDb.png
  docs/assets/img/C4_diagram.dsl
  docs/assets/img/structurizr-BackendApp.png
  docs/assets/img/structurizr-Container.png
  docs/assets/img/structurizr-SystemContext.png
  docs/assets/img/structurizr-WebApp.png
Due: pages

chore: update .md for C4 diagrams
  docs/C4_Diagramme/c4_diagrams.md
Due: pages

Fix action bar
  frontend/bimdb/src/app/action-bar/action-bar.component.spec.ts
  frontend/bimdb/src/app/action-bar/action-bar.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: frontend-lint, semgrep_sast_report

Add new file
  docs/Retrospective/26.05.2023
Due: pages

Add filter logic for tv-shows and refactoring tmdbUrlBuilder logic
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/MovieDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/interceptors/MovieDbApiInterceptor.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/User.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/ConfigService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/FavoritesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/GenreService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PersonService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/SearchService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/Filter.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/FilterCalculator.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/Filterable.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/FavoritesController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/repository/FavoritesRepositoryTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/repository/UsersRepositoryTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/FavoritesServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/utils/FilterCalculatorTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

Fix: Correct Representation of IAM in Application and OpenID-Connect Flow
  docs/assets/img/C4_diagram.dsl
  docs/assets/img/structurizr-BackendApp.png
  docs/assets/img/structurizr-Container.png
  docs/assets/img/structurizr-SystemContext.png
  docs/assets/img/structurizr-WebApp.png
Due: pages

Fix: Wrong API Provider in Documentation
  README.md
  docs/index.md
Due: pages

Upload locally held Decision Records
  docs/Entscheidungen (Decision Record)/Backend/0000_Decision_Record_SpringBoot.md
  docs/Entscheidungen (Decision Record)/Frontend/0000_Decision_Record_Angular.md
  docs/Entscheidungen (Decision Record)/Frontend/0001-packaging.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0000-deployment-strategy.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0001-gitlab-ci.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0002-ci-runners.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0003-continuous-deployment.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0004-wiki.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0005-use-conainer-registry.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0006-code-coverage.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0007-helm.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0008-postgresql.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0009-keycloak.md
  docs/Entscheidungen (Decision Record)/Infrastruktur/0010-code-coverage.md
Due: pages

Fix: Typo
  docs/Entscheidungen (Decision Record)/Infrastruktur/0010-code-coverage.md
Due: pages

Resolve "Add demo data" - adding primary release date and vote average logic and some new demo users
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/User.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/BaseService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/FavoritesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/Filter.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/FilterCalculator.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/utils/Filterable.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/FavoritesController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/FavoritesServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/utils/FilterCalculatorTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

Update 26.05.2023
  docs/Retrospective/26.05.2023.md
Due: pages

Resolve "Decision record: Use of TMDB software"
  docs/Entscheidungen (Decision Record)/Backend/02_Decision_Record_TMDB_API_Usage.md
Due: pages

Update 02_Decision_Record_TMDB_API_Usage.md
  docs/Entscheidungen (Decision Record)/Backend/0001_Decision_Record_TMDB_API_Usage.md
Due: pages

Update 0001_Decision_Record_TMDB_API_Usage.md
  docs/Entscheidungen (Decision Record)/Backend/0001_Decision_Record_TMDB_API_Usage.md
Due: pages

making usernames lowercase and adding extra test user
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
Due: backend-test, backend-coverage, semgrep_sast_report

drafting software guidebook
  docs/assets/img/BIMDB_Banner.png
  docs/assets/img/BIMDB_Banner.pptx
  docs/assets/img/BIMDB_C4_SystemContextDiagramm.png
  docs/assets/img/BIMDB_Overview.png
  docs/assets/img/BIMDb_C4_Component_DataEnhancement_APIApplication.png
  docs/assets/img/BIMDb_C4_Component_WebApplication.png
  docs/assets/img/BIMDb_C4_Container.png
  docs/assets/img/ERM.png
  docs/assets/img/FilterCalculationClasses.png
  docs/projektskizze/01_Abstract.md
  docs/projektskizze/02_Ausgangslage&Idee.md
  docs/projektskizze/03_StandDerTechnik&Konkurrenzanalyse.md
  docs/projektskizze/04_KontextszenarioHauptablauf.md
  docs/projektskizze/05_WeitereAnforderungen.md
  docs/projektskizze/07_Risiken.md
  docs/projektskizze/08_Wirtschaftlichkeit.md
  docs/software-guidebook/00_Cover.md
  docs/software-guidebook/01_Abstract.md
  docs/software-guidebook/02_Kontext.md
  docs/software-guidebook/03_ZieleHauptfunktionen.md
  docs/software-guidebook/04_Qualitätsattribute.md
  docs/software-guidebook/05_BekannteBeschränkungen.md
  docs/software-guidebook/06_VerwendetePrinzipien.md
  docs/software-guidebook/07_Architektur.md
  docs/software-guidebook/08_ExterneSchnittstellen.md
  docs/software-guidebook/09_Code.md
  docs/software-guidebook/10_Data.md
  docs/software-guidebook/11_InfrastrukturArchitektur.md
  docs/software-guidebook/12_Installation.md
  docs/software-guidebook/13_OperationSupport.md
  docs/software-guidebook/14_EntscheidungsLogbuch.md
Due: pages

Update 2 files
  docs/software-guidebook/Cover.md
Due: pages

Final adjustments in Software Guidebook
  docs/software-guidebook/00_Cover.md
  docs/software-guidebook/02_Kontext.md
  docs/software-guidebook/03_ZieleHauptfunktionen.md
  docs/software-guidebook/05_BekannteBeschränkungen.md
  docs/software-guidebook/07_Architektur.md
  docs/software-guidebook/08_ExterneSchnittstellen.md
  docs/software-guidebook/09_Code.md
  docs/software-guidebook/10_Data.md
  docs/software-guidebook/12_Installation.md
  docs/software-guidebook/14_EntscheidungsLogbuch.md
Due: pages

Path conditions:
  backend-test: any of: backend/**/*
  backend-coverage: any of: backend/**/*
  frontend-lint: any of: frontend/**/*
  semgrep_sast_report: any of: frontend/**/*, backend/**/*
  pages: any of: docs/**/*
