Repository YvesBraendli/BIMDB_PM4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-test, backend-coverage, semgrep_sast_report, pages

Path conditions:
  backend-test: any of: backend/**/*
  backend-coverage: any of: backend/**/*
  semgrep_sast_report: any of: frontend/**/*, backend/**/*
  pages: any of: docs/**/*

Changed expression
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
Due: none

Fix: Adjusted Coverage to run always
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
Due: none

Fix: Adjusted Coverage to run always (backend)
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
Due: none

Feature: Add API-Key for TMDB to Deployment
  .gitlab/pipeline_templates/K8s.gitlab-ci.yml
  K8s/Chart.yaml
  K8s/templates/bimdb-backend-deployment.yaml
  K8s/values.yaml
Due: none

generate typescript interfaces from java models
  backend/bimdb/pom.xml
  frontend/bimdb/src/app/generated/contract.ts
Due: backend-test, backend-coverage, semgrep_sast_report

Doku
  docs/Konfiguration & Install Guides/Frontend/config_install_frontend.md
Due: pages

Resolve "Connect frontend to backend"
  frontend/bimdb/.gitignore
  frontend/bimdb/src/app/discover/discover.component.spec.ts
  frontend/bimdb/src/app/discover/discover.component.ts
  frontend/bimdb/src/app/discover/discover.service.spec.ts
  frontend/bimdb/src/app/discover/discover.service.ts
  frontend/bimdb/src/app/media-list/media-list.component.html
  frontend/bimdb/src/app/media-list/media-list.component.ts
  frontend/bimdb/src/app/media-list/media.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.service.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.service.ts
  frontend/bimdb/src/app/movie-list/movie-list.component.ts
  frontend/bimdb/src/app/shared/services/config.service.ts
  frontend/bimdb/src/environments/environment.prod.ts
  frontend/bimdb/src/environments/environment.ts
  frontend/bimdb/src/main.ts
Due: semgrep_sast_report

Resolve "Create TV show API"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/BimdbApplication.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/MovieDBApiConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Discover.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/DiscoverTv.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Media.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Movie.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Network.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Season.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShow.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/DiscoverController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/TvController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/BimdbApplicationTests.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/utils/LoggerProviderTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/DiscoverControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/TvControllerTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "TV Show Detail Page"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Episode.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowSeasonDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/TvController.java
  frontend/bimdb/src/app/discover/discover.component.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/media-list/media-list.component.html
  frontend/bimdb/src/app/media-list/media-list.component.spec.ts
  frontend/bimdb/src/app/media-list/media-list.component.ts
  frontend/bimdb/src/app/media-list/media.ts
  frontend/bimdb/src/app/movie-list/movie-list.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.scss
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.service.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.service.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.html
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.scss
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.spec.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.service.spec.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.service.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
  frontend/bimdb/src/main.ts
Due: backend-test, backend-coverage, semgrep_sast_report

88 - adding Tv Show api, tests and page functionality to the discover api calls
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/CorsConfiguration.java
  backend/bimdb/src/main/resources/application-dev.properties
  backend/bimdb/src/main/resources/application.properties
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "Fix Date Pipe"
  frontend/bimdb/src/app/core/pipes/locale-date.pipe.spec.ts
  frontend/bimdb/src/app/core/pipes/locale-date.pipe.ts
  frontend/bimdb/src/app/discover/discover.component.spec.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.spec.ts
  frontend/bimdb/src/main.ts
Due: semgrep_sast_report

Retrospective meeting
  docs/Retrospective/24.04.2023.md
Due: pages

Enhancement: Added Check for DoD
  .gitlab/merge_request_templates/default.md
  .idea/.gitignore
  .idea/bimdb.iml
  .idea/modules.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
Due: none

Intial Test: - Activated direct Pipeline build and deploy - Added Keycloak IAM - Added a seperate Database
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  .gitlab/pipeline_templates/K8s.gitlab-ci.yml
  K8s/templates/bimdb-backend-deployment.yaml
  K8s/templates/bimdb-database-secret.yaml
  K8s/templates/bimdb-database-service.yaml
  K8s/templates/bimdb-db-bimdb-deployment.yaml
  K8s/templates/bimdb-db-bimdb-pvc.yaml
  K8s/templates/bimdb-db-bimdb-secret.yaml
  K8s/templates/bimdb-db-bimdb-service.yaml
  K8s/templates/bimdb-db-iam-deployment.yaml
  K8s/templates/bimdb-db-iam-pvc.yaml
  K8s/templates/bimdb-db-iam-secret.yaml
  K8s/templates/bimdb-db-iam-service.yaml
  K8s/templates/bimdb-iam-ingress.yaml
  K8s/templates/bimdb-iam-kc-deployment.yml
  K8s/templates/bimdb-iam-secret.yaml
  K8s/values.yaml
Due: none

Skip Pipeline Checks
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  .gitlab/pipeline_templates/Security.gitlab-ci.yml
Due: none

Fix Pipeline in Dev
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  .gitlab/pipeline_templates/K8s.gitlab-ci.yml
  .gitlab/pipeline_templates/Security.gitlab-ci.yml
  K8s/templates/bimdb-backend-deployment.yaml
  K8s/templates/bimdb-database-secret.yaml
  K8s/templates/bimdb-database-service.yaml
  K8s/templates/bimdb-db-bimdb-deployment.yaml
  K8s/templates/bimdb-db-bimdb-pvc.yaml
  K8s/templates/bimdb-db-bimdb-secret.yaml
  K8s/templates/bimdb-db-bimdb-service.yaml
  K8s/templates/bimdb-db-iam-deployment.yaml
  K8s/templates/bimdb-db-iam-pvc.yaml
  K8s/templates/bimdb-db-iam-secret.yaml
  K8s/templates/bimdb-db-iam-service.yaml
  K8s/templates/bimdb-iam-ingress.yaml
  K8s/templates/bimdb-iam-kc-deployment.yml
  K8s/templates/bimdb-iam-secret.yaml
  K8s/values.yaml
Due: none

Infrastructure: Add IAM and Database-Connectivities
  .gitlab/pipeline_templates/Backend.gitlab-ci.yml
  .gitlab/pipeline_templates/Frontend.gitlab-ci.yml
  .gitlab/pipeline_templates/K8s.gitlab-ci.yml
  .gitlab/pipeline_templates/Security.gitlab-ci.yml
  K8s/Chart.yaml
  K8s/templates/bimdb-backend-deployment.yaml
  K8s/templates/bimdb-iam-kc-deployment.yml
  K8s/templates/bimdb-iam-secret.yaml
  K8s/templates/bimdb-iam-service.yaml
  K8s/values.yaml
Due: none

Resolve "Load TMDB API Config"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/ApiConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/ApiImagesConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Country.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowSeasonDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/BaseService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/ConfigService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/ConfigController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/ConfigServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/ConfigControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/TvControllerTest.java
  frontend/bimdb/src/app/app.component.html
  frontend/bimdb/src/app/app.component.spec.ts
  frontend/bimdb/src/app/app.component.ts
  frontend/bimdb/src/app/core/models/tmdb-img-config.ts
  frontend/bimdb/src/app/core/services/config.service.spec.ts
  frontend/bimdb/src/app/core/services/config.service.ts
  frontend/bimdb/src/app/discover/discover.component.spec.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/media-list/media-list.component.html
  frontend/bimdb/src/app/media-list/media-list.component.spec.ts
  frontend/bimdb/src/app/media-list/media-list.component.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/movie-list/movie-list.component.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img-src.pipe.spec.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img-src.pipe.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.html
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.scss
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.spec.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.ts
  frontend/bimdb/src/app/tv-show-list/tv-show-list.component.spec.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "Add missing config base url"
  frontend/bimdb/src/app/core/services/config.service.ts
Due: semgrep_sast_report

Movie Detail Page -> Cast / Recommendations / Similar Movies
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Cast.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Credit.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Credits.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/MovieDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/MovieListWrapper.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  frontend/bimdb/src/app/cast-list/cast-list.component.html
  frontend/bimdb/src/app/cast-list/cast-list.component.scss
  frontend/bimdb/src/app/cast-list/cast-list.component.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/media-list/media-list.component.html
  frontend/bimdb/src/app/media-list/media-list.component.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.scss
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/paginator/paginator.component.scss
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.html
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.scss
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.spec.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.ts
  frontend/bimdb/src/assets/i18n/en.json
  frontend/bimdb/src/styles.scss
Due: backend-test, backend-coverage, semgrep_sast_report

Bugs / Average Vote
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
  frontend/bimdb/src/app/cast-list/cast-list.component.scss
  frontend/bimdb/src/app/media-list/media-list.component.scss
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.scss
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: backend-test, backend-coverage, semgrep_sast_report

Add Crew Tab
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Credit.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Credits.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Crew.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  frontend/bimdb/src/app/cast-list/cast-list.component.html
  frontend/bimdb/src/app/credit-list/credit-list.component.html
  frontend/bimdb/src/app/credit-list/credit-list.component.scss
  frontend/bimdb/src/app/credit-list/credit-list.component.spec.ts
  frontend/bimdb/src/app/credit-list/credit-list.component.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: backend-test, backend-coverage, semgrep_sast_report

add language configuration
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Language.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/ConfigService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/ConfigController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/ConfigServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/ConfigControllerTest.java
  frontend/bimdb/src/app/core/services/config.service.spec.ts
  frontend/bimdb/src/app/core/services/config.service.ts
  frontend/bimdb/src/app/generated/contract.ts
Due: backend-test, backend-coverage, semgrep_sast_report

add country and language iso pipes
  frontend/bimdb/src/app/core/pipes/country-iso.pipe.spec.ts
  frontend/bimdb/src/app/core/pipes/country-iso.pipe.ts
  frontend/bimdb/src/app/core/pipes/language-iso.pipe.spec.ts
  frontend/bimdb/src/app/core/pipes/language-iso.pipe.ts
Due: semgrep_sast_report

Add Streaming Tab
  backend/bimdb/src/main/java/com/debugdemons/bimdb/deserializers/WatchProviderResultDeserializer.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/WatchProvider.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/WatchProviders.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/WatchProvidersResult.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/MovieController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/deserializers/WatchProviderResultDeserializerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.html
  frontend/bimdb/src/app/movie-detail/movie-detail.component.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.component.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.service.spec.ts
  frontend/bimdb/src/app/movie-detail/movie-detail.service.ts
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.html
  frontend/bimdb/src/app/tmdb-img/tmdb-img.component.scss
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.html
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.scss
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.spec.ts
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: backend-test, backend-coverage, semgrep_sast_report

Fix Pipeline
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "Tv Show Detail Cast / Crew / Recommendations / Similar / Streaming Services"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/TvShowListWrapper.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/WatchProvider.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/TvController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/TvControllerTest.java
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.html
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.scss
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.service.spec.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.service.ts
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.html
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.spec.ts
  frontend/bimdb/src/app/watch-provider-list/watch-provider-list.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "Authentication"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/LocaleConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/RestTemplateConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/MovieDetails.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/interceptors/MovieDbApiInterceptor.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/ConfigService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/SearchService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TvService.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/BaseServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/ConfigServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/SearchServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/MovieControllerTest.java
  frontend/bimdb/angular.json
  frontend/bimdb/package-lock.json
  frontend/bimdb/package.json
  frontend/bimdb/src/app/app.component.html
  frontend/bimdb/src/app/app.component.spec.ts
  frontend/bimdb/src/app/app.component.ts
  frontend/bimdb/src/app/core/constants/http-headers.ts
  frontend/bimdb/src/app/core/interceptors/header.interceptor.ts
  frontend/bimdb/src/app/header/header.component.html
  frontend/bimdb/src/app/header/header.component.spec.ts
  frontend/bimdb/src/app/header/header.component.ts
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
  frontend/bimdb/src/assets/silent-check-sso.html
  frontend/bimdb/src/environments/environment.prod.ts
  frontend/bimdb/src/environments/environment.ts
  frontend/bimdb/src/main.ts
Due: backend-test, backend-coverage, semgrep_sast_report

Resolve "Fix Interceptor"
  backend/bimdb/src/main/java/com/debugdemons/bimdb/interceptors/MovieDbApiInterceptor.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/BaseServiceTest.java
Due: backend-test, backend-coverage, semgrep_sast_report

Person Detail Page
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/CombinedCredits.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Person.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PersonService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/PersonController.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/PersonServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PersonControllerTest.java
  frontend/bimdb/src/app/core/constants/routes.ts
  frontend/bimdb/src/app/credit-list/credit-list.component.html
  frontend/bimdb/src/app/credit-list/credit-list.component.scss
  frontend/bimdb/src/app/credit-list/credit-list.component.ts
  frontend/bimdb/src/app/generated/contract.ts
  frontend/bimdb/src/app/media-list/media-list.component.html
  frontend/bimdb/src/app/media-list/media-list.component.scss
  frontend/bimdb/src/app/person-detail/person-detail.component.html
  frontend/bimdb/src/app/person-detail/person-detail.component.scss
  frontend/bimdb/src/app/person-detail/person-detail.component.spec.ts
  frontend/bimdb/src/app/person-detail/person-detail.component.ts
  frontend/bimdb/src/app/person-detail/person-detail.service.spec.ts
  frontend/bimdb/src/app/person-detail/person-detail.service.ts
  frontend/bimdb/src/app/tv-show-detail/tv-show-detail.component.scss
  frontend/bimdb/src/assets/i18n/de.json
  frontend/bimdb/src/assets/i18n/en.json
  frontend/bimdb/src/main.ts
  frontend/bimdb/src/styles/detail-page.scss
  frontend/bimdb/src/styles/image-list.scss
Due: backend-test, backend-coverage, semgrep_sast_report

92 - adding User Preferences model, repository, service and controller and adding preferences logic to the get movies query
  backend/bimdb/pom.xml
  backend/bimdb/src/main/java/com/debugdemons/bimdb/BimdbApplication.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/MovieDBApiConfig.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/config/SetupConfiguration.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Genre.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/GenreListWrapper.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/domain/Preferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/model/UserPreferences.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/repository/PreferencesRepository.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/BaseService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/GenreService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/MovieService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/PreferencesService.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/service/TmdbUrlBuilder.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/DiscoverController.java
  backend/bimdb/src/main/java/com/debugdemons/bimdb/web/rest/PreferencesController.java
  backend/bimdb/src/main/resources/application-h2.properties
  backend/bimdb/src/main/resources/application-postgres.properties
  backend/bimdb/src/main/resources/application.properties
  backend/bimdb/src/test/java/com/debugdemons/bimdb/BimdbApplicationTests.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/repository/PreferencesRepositoryTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/GenreServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/MovieServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/PersonServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/SearchServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/service/TvServiceTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/DiscoverControllerTest.java
  backend/bimdb/src/test/java/com/debugdemons/bimdb/web/rest/PreferencesControllerTest.java
  backend/bimdb/src/test/resources/application.properties
Due: backend-test, backend-coverage, semgrep_sast_report

Responsiveness + Dark/Light Mode
  frontend/bimdb/src/app/header/header.component.html
  frontend/bimdb/src/app/header/header.component.scss
  frontend/bimdb/src/app/header/header.component.spec.ts
  frontend/bimdb/src/app/header/header.component.ts
  frontend/bimdb/src/app/paginator/paginator.component.scss
  frontend/bimdb/src/app/search/search.component.html
  frontend/bimdb/src/app/search/search.component.scss
  frontend/bimdb/src/styles.scss
  frontend/bimdb/src/styles/detail-page.scss
Due: semgrep_sast_report

Fix: Wrong ImageTag reference
  K8s/templates/bimdb-iam-kc-deployment.yml
Due: none

Enhancement(Keycloak): Make Realm BIMDB Persistent
  K8s/Chart.yaml
  K8s/templates/bimdb-iam-kc-deployment.yml
  K8s/templates/bimdb-iam-kc-realm-export.yml
  K8s/values-prod.yaml
  K8s/values-stage.yaml
Due: none

Refactor: Change referenced KC-Realm
  frontend/bimdb/src/environments/environment.prod.ts
  frontend/bimdb/src/environments/environment.ts
  frontend/bimdb/src/main.ts
Due: semgrep_sast_report

Refactor: Remove slash from end of urls
  K8s/values-prod.yaml
  K8s/values-stage.yaml
Due: none

Fix: Indentation error in Deployment-Spec
  K8s/templates/bimdb-iam-kc-deployment.yml
Due: none

Fix: Remove leading protocol definition
  K8s/templates/bimdb-iam-kc-realm-export.yml
Due: none
